div {
    background: red;
    width: 200px;
    height: 50px;
    color: white;
    text-align: center;
   
}

h1 {
    background: blue;
    height: 20px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 300px;
}