body {
    margin: 0;
    font-family: sans-serif
}

.container {
    padding: 20px;
    background-color: #999;
}

.container a{
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 10px;
}

.nav {
    background-color: #48e;
    text-align: center; /* Centra los elementos dentro del contenedor */
    height: 50px; /* Ajusta la altura para que los enlaces sean más visibles */
    line-height: 50px; /* Esto centra el contenido verticalmente dentro de .nav */
    /* line-height se refiere al espacio entre las líneas de texto dentro de un contenedor.
Cuando el valor de line-height es igual a la altura del contenedor (en este caso, 50px), el contenido se centra verticalmente.
La propiedad height: 50px; se estableció en .nav para definir el alto del contenedor, mientras que line-height: 50px; asegura que los elementos dentro de este contenedor (que en este caso son los enlaces) estén alineados en el centro de esa altura de 50px. */
}

.nav__item {
    display: inline-block;
    
}

.nav_link {
    color: #fff;
    text-decoration: none;
    margin: 10px;
}

.nav__item:not(:last-child) .nav_link:hover {
    text-decoration: underline;
}


.link--button{
    color: #48e;
    background-color: #fff;
    padding: 4px 10px;
    margin-left: 60px;
    border: 1px solid #fff;
    border-radius: 6px;
}

.link--button:hover{
    background: transparent;
    color: #fff;
}

